body{
	margin: 0;
	padding: 0;
	background-color: #191919;
}
#header{
	background-color: #000;
	color: white;
}
.img_principal{
	width: 930px;
	height: 370px;
}
hr{
	color: #e4e4e4;
}
.main{
	background-color: #fff;
	padding: 0 2em;
}
.clasicos{
	width: 925px;
	height: 410px;
	display: inline-block;
}
.articulo{
	width: 265px;
	height: 310px;
	border: 1px solid red;
	margin: 1em 1em 2.5em 1em;
	padding: 0.2em;
	float: left;
}
.texto-articulo{
	text-align: justify;
}
.articulo>img{
	border: 1px solid #e2e2e2;
	padding: 4px;
	height: 120px;
	width: 230px;
}
.sponsors{
	width: 300px;
	float: right;
	display: inline-block;
}
.sponsor_principal{
	display: block;
	border: 1px solid #e2e2e2;
	padding: .5em 3em;
	text-align: center;
}
.sponsor2{
	width: 100px;
	height: 100px;
}
.sponsor3{
	width: 142px;
	height: 107px;
}
.sponsor4{
	width: 95px;
	height: 110px;
}
.sponsor5{
	width: 140px;
	height: 110px;
}
.sponsor6{
	width: 105px;
	height: 95px;
}
.sponsor7{
	width: 130px;
	height: 95px;
}
.imagen_signos{
	width: 80px;
	height: 80px;
	margin: 0.2em;
}
.tips{
	display: inline-block;
	width: 925px;
}
.tip img{
	width: 125px;
	height: 125px;
	border: 1px solid #d2d2d2;
	padding: 0.5em;
}
.tip h3{
	margin: 0 0 1em 0;
}
.articulo_tip{
	display: inline-block;
	width: 80%;
}
#footer{
	padding: 0 2em;
}
.articulo_footer{
	width: 620px;
	color: white;
	float: left;
}
.articulo_footer img{
	float: left;
	border: 1px solid #ededed;
	padding: 5px;
}
.articulo_footer p{
	text-align: justify;
}
.horoscopo{
	width: 280px;
	float:left;
	margin: 0 2em;
	color: white;
}
.contacto{
	width: 230px;
	float: left;
	margin: 0 2em;
	color: white;
}